  
<form action="/login" method="POST" accept-charset="utf-8" id="login-form">
  <input type="hidden" name="_method" value="PUT" />
  <table>
    <tr>
      <td>
	Email:
      </td>
      <td>
	<input type="text" value="" name="login" id="login" class="big" />
      </td>
    </tr>
    <tr>
      <td>
	<label>Password:</label>
      </td>
      <td>
	<input type="password" name="password" value="" id="password">
      </td>
    </tr>
  </table>
  <input type="submit" name="Submit" value="Log In" id="Submit">
</form>


    
  
